.cont-testi {
  background-color: #fff9f9;
  padding-top: 50px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 50px;
}
.title-testi {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: -1.5px;
  color: #555555;
}
.cont-img {
  display: flex;
}

.cont-seen {
  width: 100%;
  margin: 0 auto;
}

.img-in {
  position: relative;
  height: 50px;
  /* width: 100px; */
  padding-right: 100px;
}
.img-in img {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* untuk responsive */

/* Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media only screen and (max-width: 767.98px) {
  .cont-testi {
    padding-left: 25px;
    padding-right: 25px;
    flex-direction: column;
  }

  .img-in {
    padding-right: 0px;
  }
}

/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media only screen and (max-width: 1199.98px) {
}
