.cont-dress {
  padding-top: 80px;
  padding-bottom: 80px;
}
.cont-one {
  padding-left: 216px;
  padding-top: 100px;
}

.cont-two {
  padding-right: 195px;
  padding-top: 140px;
}

.btn {
  text-align: left;
}

.title-text-sec-2 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 64px;
  letter-spacing: -1.5px;
  color: #555555;
  text-align: left;
}

.desc-text-sec-2 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: -1.5px;
  color: #555555;
  text-align: left;
}

.img-sec-2 {
  max-width: 100%;
  width: 202px;
  height: 294px;
  border-radius: 5px;
  box-shadow: 2px 4px 8px red;
}

.cont-img1-sec-2 {
  padding-top: 60px;
}
.cont-img2-sec-2 {
  padding-top: 15px;
}
.cont-img3-sec-2 {
}
.cont-img4-sec-2 {
  padding-top: 15px;
}

/* untuk responsive */

/* Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media only screen and (max-width: 767.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media only screen and (max-width: 1199.98px) {
}
