.cont-product-detail {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.text-title-detail {
  font-family: Mulish;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  color: #555555;
  text-align: left;
}

.title-desc-detail {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #555555;
  text-align: left;
}

.text-desc-detail {
  font-family: Mulish;
  font-style: normal;
  font-weight: 200;
  font-size: 17px;
  color: #555555;
  text-align: left;
}

.vendor-category-detail {
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #555555;
  text-align: left;
}

.add-to-cart {
  display: flex;
  flex-direction: column;
}
/* untuk responsive */

/* Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media only screen and (max-width: 767.98px) {
  .cont-product-detail {
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media only screen and (max-width: 1199.98px) {
}
