.container {
  flex-grow: 1;
}

.appbar {
  background-color: #f1a3ad;
}

.logo {
  max-width: 100%;
  /* width: 100px;
      height: 100px; */
}

.title {
  /* flex-grow: 1; */
  padding-right: 50px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #555555;
}

.userTitle {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  align-items: center;
  text-align: center;
  color: #555555;
}
