.container {
  flex-grow: 1;
}

.appbar {
  background-color: #f1a3ad;
}

.logo {
  max-width: 100%;
  width: 180px;
  height: 40px;
  padding-left: 245px;
  padding-right: 430px;
}

.title {
  /* flex-grow: 1; */
  padding-right: 19px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #555555;
}

.tombol {
  border-radius: 20px;
}
